<h1>Forgot your password?</h1>

<p>Please enter your email to receive password reset instructions</p>

<%= form_tag password_resets_path, class: 'form-horizontal'  do %>

  <h3>
    <%= label_tag :email %>
  </h3>
  <span>
    <%= email_field_tag :email, nil, placeholder: 'Please enter email address', class: "form-input" %>
  </span>
  <div class="login">
    <%= submit_tag "Send", id: 'password-reset-button', class: 'btn'%>
  </div>


<% end %>