<div class="grid-unit-header">
  <h3>Forgot password?</h3>
</div>
<p class="login-top">Please enter your email address to receive password reset instructions.</p>
<%= form_tag password_resets_path do %>
  <div class="form-group">
    <label for="email"><%= label_tag :email %></label>
    <%= email_field_tag :email, nil, class: "form-input" %>
  </div>
<%= submit_tag "Send Reset Email", class: "btn btn-primary"%>
<% end %>