  <div class="grid-unit wide">
    <h2>Edit Track</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper edit-track-wrapper">
  <div class="grid-unit wide">
    <%= render 'form' %>
      <%= link_to 'Delete Track', [@classroom, @track], method: :delete, data: {confirm: "Are you sure you want to delete this track?"}, class: "danger-link", id: 'delete-track' %></div>
  </div>
</div>
<% provide(:title, "Edit #{@track.name}") %>