  <div class="grid-unit wide">
    <h2>Edit Track</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit wide">
    <%= render 'form' %>
  </div>
</div>
<% provide(:title, "Edit #{@track.name}") %>