<%= form_for [@classroom, @track] do |f| %>

  <h3>
    <%= f.label :name, 'Track Name' %>
  </h3>
  <span>
    <%= f.text_field :name, class: "form-input" %>
  </span>
  <div>  
    <%= f.submit 'Add Track', class: "add-track btn" %>
  </div>
<% end %>