<h2><%= @classroom.name %> > <%= @track.name %></h2>
<div class="grid3">
  <!-- <div class="row header-row">
    <h1><%= @track.name %></h1>
  </div> -->
  
    <%= render @track.checkpoints.order(id: :asc) %>
</div>