  <div class="grid-unit whole">
    <h2>Your Classrooms</h2>
  </div>
</div>
<div class="wrapper">
  <!-- Classrooms List -->
  <%= render @classrooms %>
  <!-- Teacher Controls -->
  <% if current_user.teacher? %>
    <div class="grid-unit narrow add-unit">
      <div class="classroom">
        <%= link_to new_classroom_path, class: "classroom-content", id: "add-classroom" do %>
          <div class="add-sign">+</div>
          <p class="add-text">Add New Classroom</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% provide(:title, 'Classrooms') %>
