  <div class="grid-unit wide">
    <h2>Add/Join Classroom</h2>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit wide">
    <h6 class="subtitle classroom-option">Create New Classroom</h6 class="subtitle">
    <%= render partial: 'form', locals: { classroom: @classroom } %></div>
  </div>
  <div class="grid-unit wide">
    <%= render 'join_classroom' %></div>
  </div>
</div>
<% provide(:title, 'Add Classroom') %>