<%= form_for Classroom.new do |f| %>

  <h3>
    <%= f.label :name, 'Classroom Name' %>
  </h3>
  <span>
    <%= f.text_field :name, placeholder: "Enter classroom name", class: "form-input" %>
  </span>
  <div>
    <%= f.submit 'Add Classroom', class: "add-classroom btn" %>
  </div>
<% end %>