  <div class="grid-unit wide">
    <h2>Add Classroom</h2>
    <%= render 'form' %>
  </div>

  <div class="grid-unit wide">
    <h3>Join Classroom</h3>
    <%= form_tag join_classrooms_path, method: :post do %>
      <%= text_field_tag :teacher_token, nil,placeholder: "Enter classroom token", class: "form-input" %>
      <%= submit_tag 'Join Classroom', class: "btn" %>
    <% end %>
  </div>
</div>
<% provide(:title, 'Add Classroom') %>