  <div class="grid-unit wide">
    <h2>Edit Checkpoint</h2>
    <h6 class="subtitle"><%= @track.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit wide">
    <%= render partial: 'form', locals: {checkpoint: @checkpoint} %>
  </div>
</div>