<div class="row" id="checkpoint<%= checkpoint.id %>">
  <div class="analytics-content">
    <div class="h5">
      <%= checkpoint.expectation %>
    </div>
    <div class="analytics-bar">
      <%= render partial: 'shared/progress_bar', locals: { ratings: @phase.ratings(checkpoint), total_count: @classroom.students.size } %>
    </div>
  </div>
  <!-- <div class="hasnt-voted"> -->
      <%= hasnt_voted_box(checkpoint) %>
  <!-- </div> -->
</div>