<p><%= display_start_end_times(@track) %></p>
<%= form_tag classroom_track_analytics_path(@classroom, @track), method: "get" do  %>
  <%= select_tag :phase_state, options_for_select(Phase::PHASES, @phase.state) %>
  <%= submit_tag 'Choose phase', name: nil, class: 'add-phase btn'%>
<% end %>