<div class="progress progress-border">
  <%= render_bar(ratings_count(ratings, 0, checkpoint), 0)%>
  <%= render_bar(ratings_count(ratings, 1, checkpoint), 1)%>
  <%= render_bar(ratings_count(ratings, 2, checkpoint), 2,)%>
  <%= render_bar(no_ratings(ratings, checkpoint), 3)%>
</div>