<script>
window.TRACK_ID = <%= @track.id %>
</script>

<%= subscribe_to "/track/#{@track.id}/ratings" %>

<%#= render 'time_filter' %>
<div id="page-head">
  <h2 class="page-header">Analytics > <%= @track.name %></h2>
</div>
<div class="grids">
  <div class="grid2">
    <%= render :partial => 'track' %>
  </div>
</div>