<%= render 'time_filter' %>

<h1>Analytics</h1>
<%= render :partial => 'track', collection: @tracks %>

<!--
<h2>Average rating over class (example: first track)</h2>
<div class="row">
  <%= content_tag :div, "", id: "tracks_chart", data: {ratings: ratings_data} %>
</div> -->