<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">Curry</a>
    <ul class="nav navbar-nav pull-right">
      <% if @classroom %>
      <li><%= link_to 'Tracks', classroom_tracks_path(@classroom) %></li>
      <li><%= link_to 'Analytics', analytics_classroom_path(@classroom) %></li>
      <% end %>
      <% if @current_user %>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      <% end %>

    </ul>
  </div>
</nav>