<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">curry</a>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Feedback', root_path %></li>
      <li><%= link_to 'Analytics', analytics_tracks_path %></li>
    </ul>
  </div>
</nav>