<% if current_user.teacher? %>
  <div id="requester-numb">
    <%= link_to "Requesters (#{@classroom.requesters.size})", classroom_requesters_path(@classroom) %>
  </div>
<% else %>
  <% requester = current_user.classrole.invitations.find_by(classroom_id: @classroom.id) %>
  <div id="help-toggle">
    <% if current_user.needs_help?(@classroom) %>
      <%= link_to "In queue", classroom_requester_path(classroom_id: @classroom.id, id: requester.id), method: :patch %>
    <% else %>
      <%= link_to "Not in queue", classroom_requester_path(classroom_id: @classroom.id, id: requester.id), method: :patch %>
    <% end %>
  </div>
<% end %>
