<div class="help-toggle">
  <% if current_user.teacher? %>
    <%= link_to "Requesters (#{@classroom.requesters.size})", classroom_requesters_path(@classroom), id: "requesters_link" %>
  <% else %>
    <% if current_user.needs_help?(@classroom) %>
      <%= link_to "I need help!", reset_status_classroom_requesters_path(@classroom), method: :patch , id: "help_link#{current_user.get_invitation(@classroom).id}"%>
    <% else %>
      <%= link_to "I'm OK", reset_status_classroom_requesters_path(@classroom), method: :patch %>
    <% end %>
  <% end %>
</div>