<li><%= link_to "Requesters (#{@classroom.requesters_count})", classroom_requesters_path(@classroom), id: "requesters_link" %></li>
<% if @track.try(:id)%>
  <li><%= link_to 'Analytics', classroom_track_analytics_path(@classroom, @track) %></li>
<% end %>