<div class="face-outer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><g class="happy"><path d="M15,0C6.715,0,0,6.716,0,15c0,8.285,6.715,15,15,15c8.284,0,15-6.715,15-15C30,6.716,23.284,0,15,0z M15,27C8.383,27,3,21.617,3,15S8.383,3,15,3c6.617,0,12,5.383,12,12S21.617,27,15,27z"/><path d="M20.615,18.385c-1.36,1.741-3.407,2.74-5.615,2.74c-2.178,0-4.208-0.978-5.569-2.681c-0.346-0.432-0.974-0.502-1.406-0.157c-0.431,0.345-0.501,0.975-0.157,1.405c1.744,2.182,4.343,3.433,7.132,3.433c2.828,0,5.449-1.278,7.191-3.508c0.34-0.436,0.264-1.064-0.172-1.404S20.956,17.95,20.615,18.385z"/><ellipse cx="11.358" cy="10" rx="1.733" ry="2.312"/><ellipse cx="18.892" cy="10" rx="1.733" ry="2.312"/></g></svg>
</div>
