<div class="face-outer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><g class="caret"><path d="M15,0C6.715,0,0,6.716,0,15c0,8.285,6.715,15,15,15c8.284,0,15-6.715,15-15C30,6.716,23.284,0,15,0z M15,27C8.383,27,3,21.617,3,15S8.383,3,15,3s12,5.383,12,12S21.617,27,15,27z"/><polygon points="17.886,20 17.886,10 9.552,15 "/></g></svg>
</div>