<% if requesters.empty? %>
  <h2> You have no students needing help! </h2>
<% else %>
  <table>
    <tr>
      <th>Student</th>
      <th>Time</th>
      <th>OK</th>
    </tr>

    <% requesters.each do |requester| %>
      <tr>
        <td><%= requester.full_name %></td>
        <td><%= requester.updated_at.strftime("%l:%M%P, %e %b %y") %></td>
        <td><%= link_to 'Done', classroom_reset_status_path(@classroom, invitation_id: requester.id), method: :patch, class: 'remove_button btn'%></td>
      </tr>
    <% end %>
  </table>
<% end %>