  <div class="grid-unit whole">
    <h2>Students in Help Queue</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit wide">
    <table id="requesters-table">
      <thead>
        <tr>
          <th>Student</th>
          <th>Help Requested At</th>
          <th>Student Helped?</th>
        </tr>
      </thead>

      <% if @requesters.empty? %>
        <tr id="placeholder"><td colspan="3">You have no students needing help. Great job!</td></tr>
      <% else %>
        <% @requesters.each do |requester| %>
          <%= render partial: 'request', locals: { classroom: @classroom, requester: requester } %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<script src="http://js.pusher.com/2.0/pusher.min.js"></script>
<script type="text/javascript">
var pusher = new Pusher('<%= Pusher.key %>');
var channel = pusher.subscribe('classroom<%= @classroom.id %>-requesters');
channel.bind('request', function(data) {
  Curri.RequestsList.updateList(data)
});
</script>