  <div class="grid-unit whole">
    <h2>Students in Help Queue</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit wide">
    <table id="requesters-table">
      <thead>
        <tr>
          <th colspan="2">Student</th>
          <th>Help Requested At</th>
          <% if current_user.teacher? %>
            <th>Student Helped?</th>
          <% end %>
        </tr>
      </thead>

      <% if @requesters.empty? %>
        <tr id="placeholder"><td colspan="4">No students need help right now.</td></tr>
      <% else %>
        <% @requesters.each do |requester| %>
          <%= render partial: 'request', locals: { classroom: @classroom, requester: requester } %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
window.Curri.channel = window.Curri.pusher.subscribe('classroom<%= @classroom.id %>-requesters');
window.Curri.channel.bind('request', function(data) {
  Curri.RequestsList.updateList(data)
});
</script>