@import 'globals/all';

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: darken($color-success, 20%);
  background-color: lighten($color-success, 50%);
  border-color: lighten($color-success, 40%);
}

.alert-dismissable {
  padding-right: 40px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.errorExplanation { color: #222;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f6f6f6;
  font: bold smaller;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: darken($color-success, 40%);
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  @include all-transition;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}