@import 'globals/all';

.branding-colors > div {
  height: 35px;
  padding:5px 10px;
  color: white;
  margin-bottom: 5px;
  border-radius: $global-radius;
}

.main {
  background-color: $color-main;
}

.primary {
  background-color: $color-primary;
}

.success {
  background-color: $color-success;
}
.warning {
  background-color: $color-warning;
}

.danger {
  background-color: $color-danger;
}

div.lt-grey {
  background-color: $grey-lt;
  color: $grey-md;
}

.md-grey {
  background-color: $grey-md;
}

// General styles
