// Styles for track show view
@import 'globals/all';

h2 .unpublished-badge {
  top: -4px;
}

.track-times {
  margin-top: -7px;
  font-size: 14px;
  // color: $color-text;
  > div {
    margin-top: -5px;
  }
}

.expectation-content {
  padding: 15px 25px;
  margin: 0 -25px;
  &:hover {
    background: lighten($grey-lt, 10%);
  }
}

.expectation {
  display: inline-block;
  width: 60%;
  // display: inline;
  &.expectation-student {
    width: 38%;
  }
}

.expectation-actions {
  display: inline-block;
  float: right;
  width: 38%;
  position: relative;
  top: -3px;
  &.expectation-actions-student {
    width: 60%;
  }
}

.success-criteria {
  padding: 15px 0;
  display: none;
}

.success-criteria-show {
  display: block;
}

.action-icons li {
  display: inline-block;
  margin-left: 5px;
  float: right;
}

// teacher actions
.edit-icon,
.trash-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 8px;
  line-height: 0;
}

.edit,
.trash {
  // padding: 5px;
  fill: $grey-md;
  .action-icons a:hover & {
    fill: $color-primary;
  }
}

// student actions
.sc-show-icon {
  font-size: 19px;
  display: inline-block;
  line-height: 0;
  color: #fff;
  background: $color-main;
  padding: 15px 11px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  @include border-radius(100px);
  &:hover {
    background: $color-primary;
  }
}

li.student-action {
  // margin-left: 15px;
  position: relative;
}

.ratings {
  top: -6px;
}
// old styles
// .checkpoint-content {
//   overflow: hidden;
//   margin-top: 5px;

//   h4 {
//     float: left;
//     margin-right: 30px;
//     margin-bottom: 0;
//   }

//   .success-criteria {
//     float: left;
//     color: #FAFAFA;
//     font-weight: bold;
//     background-color: #ccc;
//     margin-top: 15px;
//   }
// }

// .checkpoint-score-links{
//   margin: 30px 0;
// }

// .checkpoint-rating {
//   margin-right: 20px;
//   font-size: 13px;
//   font-weight: bold;
//   color: #FAFAFA;
// }

// .checkpoint0, .checkpoint1, .checkpoint2 {
//   opacity: 0.5;

//   &:hover {
//     opacity: 0.8;
//   }
// }
// .checkpoint0 {
//   background-color: $color-danger;
// }

// .checkpoint1 {
//   background-color: $color-warning;
// }

// .checkpoint2 {
//   background-color: $color-success;}

// .checkpoint_0, .checkpoint_1, .checkpoint_2 {
//   width: 0px;
//   height: 0px;
//   border-style: solid;
//   border-width: 0 35px 35px 0;
//   border-color: transparent;
//   opacity: 0.8;
//   position: absolute;
//   top: 0;
//   right: 0;
// }

// .checkpoint_0 {
//   border-right-color: $color-danger;
// }

// .checkpoint_1 {
//   border-right-color: $color-warning;
// }

// .checkpoint_2 {
//   border-right-color: $color-success;
// }

.checkpoint-drop-highlight {
  background: lighten($grey-lt, 10%);
  margin-left: -25px;
  border:none;
  border-radius: 0;
  box-shadow: inset 0 0 10px lighten($grey-md, 25%);
}