// Styles for track show view
@import 'globals/all';

h2 .unpublished-badge {
  top: -4px;
}

.track-times {
  margin-top: -7px;
  font-size: 14px;
  // color: $color-text;
  > div {
    margin-top: -5px;
  }
}

.expectation-content {
  @extend %row-content;
}

.expectation {
  display: inline-block;
  width: 60%;
  // display: inline;
  &.expectation-student {
    width: 38%;
  }
}

.expectation-actions {
  display: inline-block;
  float: right;
  width: 38%;
  position: relative;
  top: -3px;
  &.expectation-actions-student {
    width: 60%;
  }
}

.success-criteria {
  padding: 15px 0;
  display: none;
}

.success-criteria-show {
  display: block;
}

.action-icons li {
  display: inline-block;
  margin-left: 5px;
  float: right;
}

// teacher actions
.edit-icon,
.trash-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 8px;
  line-height: 0;
}

.edit,
.trash {
  // padding: 5px;
  fill: $grey-md;
  .action-icons a:hover & {
    fill: $color-primary;
  }
}

// student actions
.sc-show-icon {
  font-size: 19px;
  display: inline-block;
  line-height: 0;
  color: #fff;
  background: $color-main;
  padding: 15px 11px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  @include border-radius(100px);
  &:hover {
    background: $color-primary;
  }
}

li.student-action {
  // margin-left: 15px;
  position: relative;
}

.ratings {
  top: -6px;
}