// Styles for the classroom and tracks index views
@import 'globals/all';

.classroom-desc {
  margin: 15px 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

// .student-count,
// .track-count, 
// .checkpoint-count {
.content > div,
.content > div > div {  
  // font-size: 17px;
  // line-height: 22px;
  position: relative;
}

.pending-inv,
.unpublished-tracks,
.no-pending-inv,
.all-published {
  margin-left: 43px;
  font-size: 0.7rem;
  font-weight: 700;
}

.pending-inv,
.unpublished-tracks, .teacher-token {
  color: $color-warning;
}

.no-pending-inv,
.all-published {
  color: $color-success;
}

.track-count {
  margin: 15px 0 20px;
}

.class-icons, 
.tracks-icons {
  position: absolute;
  top: -5px;
  padding: 12px;
  margin: 6px 15px 0 0;
  display: inline-block;
  background-image: image-url('curri-icons.svg');
}

.student-icon {
  background-position: 0 -180px;
}

.track-icon {
  background-position: -24px -180px;
}

.number {
  font-weight: 700;
  margin-left: 43px;
}

// tracks index

.unpublished-badge {
  position: relative;
  top: -2px;
  margin-left: 10px;
  font-size: 10px;
  color: #fff;
  padding: 2px 8px;
  @include border-radius(100px);
  background: $color-warning;
  text-shadow: 1px 1px rgba(0,0,0,0.07);
  letter-spacing: 0;
  box-shadow: 1px 1px #fff;
}

.checkpoint-count {
  margin-top: 15px;
}

.checkpoint-icon {
  background-position: -90px -102px;
  top: -6px;
}

.checkpoint-icon-unpublished {
  background-position: -90px -126px;
  top: -6px;
}

.track-time {
  margin-top: 10px;
}

.unpublished-text {
  color: lighten($grey-md, 10%);
}

.start-icon + span,
.stop-icon + span,
.start-icon-unpublished + span,
.stop-icon-unpublished + span {
  margin-left: 43px;
}

.start-icon {
  background-position: -114px -102px;
}

.start-icon-unpublished {
  background-position: -114px -126px;
}

.stop-icon {
  background-position: -138px -102px;
}

.stop-icon-unpublished {
  background-position: -138px -126px;
}

.track-progress {
  margin: 20px -25px 20px;
  border-top: 1px solid $grey-lt;
  padding: 5px 25px 0;
  .progress-container {
    min-height: 20px;
  }
  .progress-bar {
    line-height: 1.5;
  }
}