// Styles for the classroom index view
@import 'globals/all';

.classroom {
  background: lighten($grey-lt, 8%);
  // margin-left: 20px;
  padding: 3px;
  @include border-radius(5px);
  &:hover {
    background: lighten($grey-lt, 3%);
    background: $grey-md;
  }
}

.classroom-content {
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid $grey-lt;
  @include border-radius(3px);
  .classroom:hover & {
    border-color: $color-main;
  }
}