// Styles for the classroom and tracks index views
@import 'globals/all';

$bluegrey-lt: #F0F2F5;
$bluegrey-v-lt: #F8FAFC;
.padding-border {
  background: lighten($grey-lt, 8%);
  padding: 3px;
  @include border-radius(5px);
  &:hover {
    background: lighten($grey-md, 30%);
  }
}

.content {
  color: $color-main;
  display: block;
  padding: 15px 25px 20px;
  background-color: #fff;
  border: 1px solid $grey-lt;
  @include border-radius(4px);
  .padding-border:hover & {
    border-color: lighten($grey-md, 20%);
  }
  h4 {
    color: $color-main;
    border-bottom: 1px solid $grey-lt;
    margin: -15px -25px 0;
    padding: 15px;
    background: #F0F2F5;
    background-image: linear-gradient(to top, $bluegrey-lt, $bluegrey-v-lt);
    text-shadow: 1px 1px #fff;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    .padding-border:hover & {
      background-image: linear-gradient(to top, darken($bluegrey-lt, 2%), darken($bluegrey-v-lt, 2%));
    }
  }
}

.classroom-desc {
  margin: 15px 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

// .student-count,
// .track-count, 
// .checkpoint-count {
.content > div,
.content > div > div {  
  // font-size: 17px;
  // line-height: 22px;
  position: relative;
}

.pending-inv,
.unpublished-tracks,
.no-pending-inv,
.all-published {
  margin-left: 43px;
  font-size: 0.7rem;
  font-weight: 700;
}

.pending-inv,
.unpublished-tracks, .teacher-token {
  color: $color-warning;
}

.no-pending-inv,
.all-published {
  color: $color-success;
}

.track-count {
  margin: 15px 0 5px;
}

.class-icons, 
.tracks-icons {
  position: absolute;
  top: -5px;
  padding: 12px;
  margin: 6px 15px 0 0;
  display: inline-block;
  background-image: image-url('curri-icons.svg');
}

.student-icon {
  background-position: 0 -180px;
}

.track-icon {
  background-position: -24px -180px;
}

.number {
  font-weight: 700;
  margin-left: 43px;
}

// tracks index

.unpublished-badge {
  position: relative;
  top: -2px;
  margin-left: 10px;
  font-size: 10px;
  color: #fff;
  padding: 2px 8px;
  @include border-radius(100px);
  background: $color-warning;
  text-shadow: 1px 1px rgba(0,0,0,0.07);
  letter-spacing: 0;
  box-shadow: 1px 1px #fff;
}

.checkpoint-count {
  margin-top: 15px;
}

.checkpoint-icon {
  background-position: -90px -92px;
  top: -6px;
}

.checkpoint-icon-unpublished {
  background-position: -90px -116px;
  top: -6px;
}

.track-time {
  margin-top: 10px;
}

.unpublished-text {
  color: lighten($grey-md, 10%);
}

.start-icon + span,
.stop-icon + span,
.start-icon-unpublished + span,
.stop-icon-unpublished + span {
  margin-left: 43px;
}

.start-icon {
  background-position: -114px -92px;
}

.start-icon-unpublished {
  background-position: -114px -116px;
}

.stop-icon {
  background-position: -138px -92px;
}

.stop-icon-unpublished {
  background-position: -138px -116px;
}

.track-progress {
  margin: 20px -25px 0;
  border-top: 1px solid $grey-lt;
  padding: 5px 25px 0;
  .progress-container {
    min-height: 20px;
  }
  .progress-bar {
    line-height: 1.5;
  }
}