@import 'globals/all';

// Styles for login page

.main.login {
  padding: 0;
  background: lighten($color-main, 65%);
  margin-left: 0;
  min-height: 520px;
}

.login .grid {
  margin: 0;
}

.brandbar {
  height: 6px;
  background: $color-main;
}

.brandcolors {
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
  height: inherit;
  background-image: linear-gradient(to right, $color-success 0%, $color-success 33.33%, $color-warning 33%, $color-warning 66.67%, $color-danger 66.67%, $color-danger 100%);
}

@include media-query(small) {
  .brandcolors {
    width: 40%;
    margin-left: 37.5%;
  }
}

.login-box {
  float: none;
  min-width: 300px;
  padding: 20px;
  margin-top: 50px;
  @include border-radius(5px);
  & .grid-unit-header {
  }
}

@include media-query(small) {
  .login-box {
    min-width: 350px;
    margin-top: 75px;
  }
}

.login .btn {
  width: 100%;
}