@import 'globals/all';

#page-head {
  overflow: hidden;
  margin-bottom: 10px;
}

.add-unit {
  text-align: center;
}

.add-sign {
  font-size: 200px;
  margin: 80px 0 -20px;
}

.add-text {
  font-weight: bold;
  font-size: 20px;
}


.btn-head {
  background: $secondary-color;
  color: #fff;
  font-weight: bold;
  border-left: 1px solid darken($secondary-color, 10%);

  &:hover, &:focus {
    background: darken($secondary-color, 10%);
  }
}

.login-button, .profile-button, .register-teacher, .add-track, .add-classroom, #password-reset-button, .reset-button, .add-checkpoint, .add-phase {
  background-color: $secondary-color;
  color: #FAFAFA;
  font-weight: bold;
  margin-top: 20px;
  @include all-transition;

  &:hover, &:active {
    background-color: darken($secondary-color, 10%);
  }
}
#remove_button {
  color: #000;
  font-weight: bold;
  padding: 1px;}

.form-horizontal, .new_invitation, .new_user {
  padding-left: 2px;
  h3 {
    margin-bottom: 10px;
  }
}

// .form-input {
//   display: block;
//   width: 200px;
//   height: 34px;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.428571429;
//   color: #555555;
//   vertical-align: middle;
//   background-color: #ffffff;
//   border: 1px solid #cccccc;
//   border-radius: 4px;
//   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//   -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
//   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
// }

.form-input-inline {
  display: inline-block;
}

.form-input-area {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

// .form-control {
//   width: 115px;
//   margin: 0 5px;
// }

.all-tracks {
  float: right;
  margin-right: 0;
  height: auto;
}

// Popover

.popover.left {
  margin-left: -10px;
}

.fade.in {
opacity: 1;
}

.popover {
position: absolute;
top: 0;
left: 0;
z-index: 1010;
display: none;
max-width: 276px;
padding: 1px;
text-align: left;
white-space: normal;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
box-shadow: 0 5px 10px rgba(0,0,0,0.2);
background-clip: padding-box;
}

.fade {
opacity: 0;
-webkit-transition: opacity .15s linear;
transition: opacity .15s linear;
}

.button_to {
  display:inline-block;
}

.accepted {
  color: $color-success;
}

.pending {
  color: $color-warning;
}

.hide-role
{
    position: relative;
    margin-top: 4px;
    width:17px;
    height:17px;
    border:3px solid darken($header-color, 20%);
}
.hide-role span{
    position: absolute;
    top: 20px;
    left: -120px;

    display: none;
}
.hide-role:hover span{
    display:block;
    width: 300px;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-weight: normal;
}

// Used by teacher request header
.dont-show {
  display: none;
}