// Place all the base styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'globals/all';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $sans-serif;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  color: $text-color;
}

h1, h2 {
  margin-top: 0;
}

h2.page-header {
  border-left: 5px solid $secondary-color;
  padding-left: 10px;
  float: left;
  margin-top: 5px;
}

h3.grid-header {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  background-clip: border-box;
  background-color: darken($grid-background, 30%);
  color: #FAFAFA;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

nav {
  background-color: $header-color;
  border-top: 4px solid darken($header-color, 20%);
  border-bottom: 1px solid darken($header-color, 5%);
  margin-bottom: 40px;

  #logo {
    float: left;
    padding-top: 25px;

    a {
      display: block;
    }
  }

  ul {
    float: right;
    margin: 0;
    padding: 25px 0;

    li {
      float: left;
      margin-left: 3rem;

      a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      color: darken($header-color, 20%);
      color: darken($header-color, 20%);
      @include all-transition;

        &:hover{
         color: rgba(255,255,255,0.8);
        }
      }
    }
  }
}

input {
  border: none;
  font-family: inherit;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
}