// Place all the layout styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'globals/all';

// Main app area

.main {
  position: relative;
  max-width: 1300px;
  min-width: 320px;
  height: inherit;
  padding: 0 20px 20px 30px;
  background: #FFF;
  @include transition-transform(all, 0.25s, ease, 0s);
  &.subnav-open {
    @include transform-translate(130px, 0);
  }
}

body.nav-open .main {
  margin-left: 170px;
  overflow: hidden;
}

.page-header {
  overflow: hidden;
  margin-bottom: 20px;
  h4 {
    display: inline-block;
    color: lighten($color-main, 25%);
    margin: 0;
    line-height: 2;
  }

  a {
    margin: 0 10px 0 -10px;
    line-height: 0;
    position: relative;
    top: 6px;
    padding: 10px;
    cursor: pointer;
  }
}

.page-header.grid {
  margin-left: -30px;
  margin-right: -20px;
  padding: 0 20px 4px 10px;
  border-bottom: 1px solid $grey-lt;
}

// Grid
.grid {
  margin-left: -20px;
  overflow: hidden; // for floated children
}

.grid-unit {
  // display: inline-block; // causes textual whitespace
  float: left;
  padding-left: 20px;
  margin: 15px auto 10px;
}

.narrow, .wide, .whole {
  width: 100%;
}

// Sitewide layout rules
.pull-right {
  float: right;
}

.hide-mobile {
  display: none;
}

@include media-query(small) {
  .narrow {
    width: 50%;
  }

  .wide {
    width: 100%;
  }

  .whole {
    width: 100%;
  }
}

@include media-query(medium) {
  body.nav-open .main {
    overflow: auto;
  }
  
  .main {
    margin-left: 70px;
  }

  .page-header.grid {
    border: none;
  }

  .narrow {
    width: 33.33%;
  }

  .wide {
    width: 66.67%;
  }

  .whole {
    width: 100%
  }
}

@include media-query(large) {
  .narrow {
    width: 25%;
  }

  .wide {
    width: 75%;
  }

  .whole {
    width: 100%;
  }
}