* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

// Variables

$header-color: #37b590;
$container-width: 960px;
$sans-serif: "proxima nova", "helvetica neue", helvetica, arial, sans-serif;
$border-radius: 4px;
$grid-background: #F0ECDA;

//Mixins

@mixin all-transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin rounded-corner {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  border-radius: $border-radius;
}

//Styles

body {
  font-family: $sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

nav {
  background-color: $header-color;
  border-top: 4px solid darken($header-color, 20%);
  border-bottom: 1px solid darken($header-color, 5%);
  margin-bottom: 40px;

  #logo {
    float: left;
    padding-top: 25px;

    a {
      display: block;
    }
  }

  ul {
    float: right;
    margin: 0;
    padding: 25px 0;

    li {
      float: left;
      margin-left: 3rem;

      a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      color: darken($header-color, 20%);
      color: darken($header-color, 20%);
      @include all-transition;

        &:hover{
         color: rgba(255,255,255,0.8);
        }
      }
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
  overflow: hidden;
}

// Typography

h1 {
  margin-top: 0;
}

// Layout

.grid3 {
  float: left;
  background-color: $grid-background;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 400px;
  @include rounded-corner;

}

div.grids a:nth-of-type(3n) { //why not 3n? need to fix this.
  margin-right: 0;
}

.grid-plain {
  background-color: transparent;
  border: 8px solid $grid-background;
  color: $grid-background;
  @include all-transition;

  &:hover {
    border-color: darken($grid-background, 20%);
    color: darken($grid-background, 20%);
  }
}

.add-unit {
  text-align: center;
}

.add-sign {
  font-size: 200px;
  margin: 80px 0 -20px;
}

.add-text {
  font-weight: bold;
  font-size: 20px;
}