<button type="button" class="btn ">&lt;button&gt;</button>
<button type="button" class="btn btn-primary">&lt;button&gt;</button>
<button type="button" class="btn btn-success">&lt;button&gt;</button>
<button type="button" class="btn btn-warning">&lt;button&gt;</button>
<button type="button" class="btn btn-danger">&lt;button&gt;</button>